---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
---

<Layout title="Yahav's Site">
  <div class="h-screen flex flex-col items-center justify-center dark:text-white">
	<img src="/image.png" alt="Yahav's face" class="rounded-xl sm:h-60 h-40 grayscale">
    <h1 class="text-2xl font-bold sm:text-4xl mt-2">I'm Yahav!</h1>
    <p class="text-sm font-medium sm:text-2xl">
      I ❤️ coding, music, and learning new things.
    </p>

    <div class="flex items-center gap-4 mt-2">
      <Button
        link="https://github.com/rosnerdev"
        name="Github"
        bgColor="bg-slate-800"
        ringColor="ring-slate-800/30"
      />
	  <Button
        link="https://instagram.com/yahav_ros"
        name="Instagram"
        bgColor="bg-pink-600"
        ringColor="ring-purple-600/30"
      />
	  <Button
        link="https://twitter.com/rosneryahav"
        name="Twitter"
        bgColor="bg-sky-600"
        ringColor="ring-sky-600/30"
      />
    </div>
  </div>
</Layout>
