---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/image16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.jpg" />
    <link rel="manifest" href="/manifest.json">
    <meta
      name="description"
      content="This is Yahav Rosner's protfolio website."
    />
    <title>{title}</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
      * {
        font-family: "Cairo";
      }
    </style>
  </head>
  <body class="dark:bg-slate-600 bg-slate-200">
    <Navbar/>
    <slot />
  </body>
</html>
